
<form ng-submit="controller.create()" class="pure-form pure-form-stacked">
  <fieldset>
    <legend><h1>Add a Group</h1></legend>
  <!-- <label for="title">Title</label> -->
  <input class="pure-input-1-3" type="text" name="title" id="title" ng-model="controller.group.title" placeholder="Group Title">

  <!-- <label for="image">Image URL</label> -->
  <input class="pure-input-1-3" type="text" name="image" id="image" ng-model="controller.group.image" placeholder="Group Image">

  <!-- <label for="dates">Date</label> -->
  <input class="pure-input-1-3"  type="text" name="dates" id="dates" ng-model="controller.group.dates" placeholder="Date of Do">

  <button class="pure-button" ui-sref="groupsIndex">Cancel</button>

  <button type="submit" class="pure-button pure-button-primary">Save</button>
</fieldset>
</form>
