<div class="showTopSection">
  <div class="pure-g">
    <div class="pure-u-1 showTitle">
      <h1>{{controller.user.username}} 's Profile Page</h1>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1 showImg" >
      <img class="pure-img" src="{{controller.user.image}}" alt="">
    </div>
  </div>

  <div class="pure-g profileDetails">
    <div class="pure-u-1">

    <h3>My Details</h3>
    <ul>
      <li><h2>First Name:   {{controller.user.firstName}}</h2></li>
      <li><h2>Second  Name: {{controller.user.lastName}}</h2></li  >
      <li><h2>Email:  {{controller.user.email}}</h2></li>
    </ul>

    <a ui-sref="usersEdit({ id: controller.user._id })" class="pure-button">Edit</a>
    </div>
  </div>
</div>
