.showBottom {
  margin-left: 82px;
  margin-right: 27px;
}

.comments-container {
  // border: 2px solid black;
  padding: 25px;

  button {
    text-align: center;
    color: white;
    outline: none;
    float: right;
    color: inherit;
    background-color: transparent;

  }

}



.comments-box {
  left: 50%;
  margin: 50px;
  padding: 22px;
  margin: 0 auto;

}

.comments-list {
  margin: 25px;
  padding: 22px ;
  border: 1px solid black;
  list-style: none;
  border-radius: 2%;
  color: white;

  ul li {
    display: inline-block;
    clear: both;
    width: 250px;
  }
}



.float-left {
  background-color: #212a45;
  opacity: 0.5;
  float: left;
  clear: both;
  display: inline-block;
}

.float-right {
  background-color: #6f261f;
  opacity: 0.5;
  display: inline-block;
  float: right;
  clear: both;


}

fieldset {
  // border: 2px solid black;
  // padding: 30px;
  // margin-left: 82px;
  // margin-right: 27px;


}

.display-comments {
  margin: 0 auto;
}

.width-73 {
  width: 73%;
}





.attend-buttons {
  margin-top: 40px;
  margin-bottom: 60px;
}
