  /*attending*/


.peeps-1 {
  height: 200px;
  min-width: 100px;
  color: #373f57;
  text-align: center;

  img {
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
  }
}

.title-bop {
  height: 100px;
  // background-color: #f2f2f2;
  color: #373f57;
}

.realign-attending {
  // margin-top: -22px
}

.attending-grid {
  width: 75%;
  margin: 0 auto;
}

.comments-main {
  background-color: #fff;
}

/*show comments*/
.fixed-cont {
  height: 500px;
  overflow: scroll;
}

.comments-cont {
  background-color: #fff;
  max-width: 80%;
  min-height: 125px;
  margin: 0 auto;
  overflow-y: scroll;
}

.comment-body {
  background-color: #373f57;
  min-height: 90px;
  min-width: 256px;
  color: #A5B99E;
}

.comment-id {
  background-color: powderblue;
  min-height: 90px;
  text-align: center;
  img {
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
  }
}

.body-id-positioning {
  margin-top: 10px;
  p {
    padding: 0 5%;
  }

  img {
    margin-top: 22px;
  }
}

/*comments form*/
.embed-submit-field {
  position: relative;
  max-width: 93%;
  margin: 0 auto;
}

.embed-submit-field textarea {
  width: 100%;
  padding: 15px;
}

.embed-submit-field button {
  position: absolute;
  right: -9px;
  top: 86px;

}
.say-hi {
  float: right;
}

.comment-text {
  position: relative;
  margin-left: 500px;
}

.position-do {
  padding-right: 32px;
  padding-top: 25px;
  margin-bottom: 5.5px;
}

.delete-button {
  margin-top: 10px;
  // margin-right: -43px;
  // position: absolute;
}
