.homeImg {
  .header-image {
    width: 100%;
    height: 100%;
  }
  .tagline {
    position: absolute;
    // top: 350px;
    left: 33%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
  }

}
