.homeImg {
  .stag {
    background-image: url('/images/Stag.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }
  .hen {
    background-image: url('/images/hen.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }
  
  .tagline {
    position: absolute;
    // top: 350px;
    left: 33%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
  }

}
