
.indexContainer{
  background-color: white;
  color: white;
  // height: 100vh;


  .indexTitle {
    background-image: url('https://static.pexels.com/photos/167491/pexels-photo-167491.jpeg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
    h1 {
      margin-top: 15%;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 6rem;
    }
  }
  img{
    // height: 300px;
    width: 100%;
  }
  .indexImgRow{
    text-align: center;
    .indexImgFrame{
      border-radius: 10px;
      background-color: #26292B;
      text-align: center;

      margin: 30px;
      // margin-bottom: 10px;
      overflow: hidden;
      // transition: 0.3s ease;
   cursor: pointer;
      h3{
      color: lightgrey;
      }
    }

  }

}
// .indexImgFrame:hover {
//   -ms-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -webkit-transform: scale(1.1);
//   -o-transform: scale(1.1);
//   transform: scale(1.05);
//   overflow: hidden;
// }
