.indexTitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
}
.indexSection{
    background-color: $red;
    color: white;
    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 50px;
    }
}
.indexBack{

  text-align: center;
  .indexGroups {
    margin-top: 40px;
    height: 250px;
    text-align: center;
    img{
      height: 250px;
      overflow: hidden;
    }
    .imgTitle{
      width: 100%;
      z-index: 2;
    }
    h3{
      position: absolute;
      color: black;
      z-index: 1;
      margin-top: 229px;
      width:360;
      background-color: rgba(255,255,255,0.6);
    }
  }
}
