$basecolor: #f2f2f2;
$green: #729167;
$red: #6f261f;
$blue: #212a45;

.pac-card{
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
}

.pac-card2 {
  // margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Roboto;

}

.destination-card {
  padding: 15px 10px;
  background-color: white;
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 500;
  color: FIREBRICK;

  button {
    float: right;
    margin-top: -6.5px;
  }
}




.destination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

#currentDestination{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 5px;
    color: white;
    font-weight: 300;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  height: 30px;
  outline: none;
}

#pac-input:focus {
  border-color: $red;
}

#title {
  color: #fff;
  background-color: $red;
  font-size: 15px;
  font-weight: 500;
  padding: 1px 12px;
}

#addBtn {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  // margin-left: 12px;
  // margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  height: 30px;
  outline: none;

}

.destinations {
  text-align: center;
}

.selected {
  color: grey;
}
