
.google-map {
  width: 100%;
  height: 400px;
  display: inline-block;
}

.avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}


.unstyled-list {
  list-style: none;
}



.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 30px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 12px;
}

#addBtn {
  width: 100px;
}

.header-image {
  width: 100%;
  height: 100%;
}


#henHeaderPicture {
  float: right;
  object-fit: cover;
  overflow: hidden;

}

.hen-container {
  width: 50%;
  height: 100%;

}

.tagline {
  position: absolute;
  top: 200px;
  left: 28%;
  color: white;
}

.indexGroups{
  // width: 200px;
  // height: 200px;
  // background-color: rgba(255,255,255,0.5);
  // margin: 50px;
  // padding: 50px;

  img{
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
  h3{
    position: absolute;
    color: black;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
    text-align: center;
  }
}

.pure-g  {
  div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .l-box {
    padding: 1em;
  }
}
