@import 'form';
// @import 'errors';
// @import 'comments';
@import 'map-locations';
@import 'index';
@import 'show';
@import 'homepage';

$basecolor: #f2f2f2;
$green: #A5B99E;
$red: #96484E;
$blue: #373f57;

//*******ALL PAGES************

body {

}

a{
  color: #8A8D91;
  text-decoration: none;
}

.pure-menu {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.profileDetails{
  text-align: center;
  ul{
    list-style-type: none;
  }
}
