
.google-map {
  width: 100%;
  height: 400px;
  display: inline-block;
}

.avatar {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}


.unstyled-list {
  list-style: none;
}

.header-image {
  width: 100%;
  height: 100%;
}


#henHeaderPicture {
  float: right;
  object-fit: cover;
  overflow: hidden;

}

.hen-container {
  width: 50%;
  height: 100%;

}

.tagline {
  position: absolute;
  top: 200px;
  left: 28%;
  color: white;
  
}
